{% extends '@EasyAdmin/page/content.html.twig' %}




{% block main %}
{# {# twig ne prend pas les 3 = #, seulement 2} #}
{% if app.user %}
    
    {% if app.user.isVerified == false %}
    <div class="col-4 border rounded bg-light p-2">
    <p>Hey, tu n'as toujours pas vérifié ton compte !</p>
    <a href="#">clique ici pour recevoir un nouveau mail de vérification</a>
    </div>
        
    {% endif %}
{% endif %}
{% endblock %}