{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{# exemple de conditions dans twig #}
{% block body %}
<h1>
{% if title|length >20 %}
    <p>C'est trop long</p>
    {% else %}
    {{title}}
{% endif %}

</h1>
{{ dump(formats) }}
{% endblock %}
